<div class="home-container">
  <div>
    <dangerous-html
      html="<script src='https://static.heyflow.app/widget/latest/webview.js'></script>"
    ></dangerous-html>
  </div>
  <div class="home-hero">
    <div class="home-hero1">
      <img
        alt="image"
        src="/assets/playground_assets/integrityor.svg"
        class="home-image"
      />
      <button type="button" class="home-button button">
        <span>
          <span class="home-text01">Meldung einreic</span>
          <span>hen</span>
        </span>
      </button>
    </div>
  </div>
  <div class="home-container01">
    <div class="home-container02">
      <div class="home-container03">
        <span class="home-text03">
          Wir ermutigen Sie, Ihren Hinweis abzugeben
        </span>
      </div>
    </div>
  </div>
  <div class="home-container04">
    <div class="home-container05">
      <img
        alt="image"
        src="/assets/playground_assets/integrityicon.svg"
        class="home-image1"
      />
      <h2 class="home-text04">Hinweis Portal</h2>
      <span class="home-text05">Hinweis Portal</span>
      <span class="home-text06">
        Geben Sie Ihren Hinweis ganz einfach online über unser Portal ab. (auch
        anonym möglich)
      </span>
      <span class="home-text07">
        Whistleblowing, das Enthüllen von Informationen, die eine Verletzung des
        Gesetzes, unethisches Verhalten oder Gefahr für die Öffentlichkeit
        darstellen, ist ein wichtiges Instrument zum Schutz von Menschen und
        Organisationen vor Missbrauch und Gefahren. Um diesen Menschen und
        Unternehmen zu helfen, haben wir ein Meldeportal für Hinweisgeber
        (Whistleblower) eingerichtet.
      </span>
      <button type="button" class="home-button1 button">
        <span>
          <span>Hinweis Online einreichen</span>
          <br />
        </span>
      </button>
    </div>
    <div class="home-container06">
      <img
        alt="image"
        src="/assets/playground_assets/integrityicon.svg"
        class="home-image2"
      />
      <h2 class="home-text11">Hinweis Portal</h2>
      <span class="home-text12">Hinweis Portal</span>
      <span class="home-text13">Telefonische Hinweise unter</span>
      <h2 class="home-text14">+49 (0) 800 123 456 78</h2>
      <span class="home-text15">
        Wenn Sie anonym bleiben möchten, können Sie sich auch an unseren unseren
        Anrufservice wenden, der sicherstellt, dass Ihre Eingabe vertraulich und
        anonym bleibt. So können Sie ganz einfach helfen, ungesetzliche und
        unethische Aktivitäten zu verhindern und die Welt ein Stückchen besser
        zu machen.
      </span>
    </div>
  </div>
  <div class="home-container07">
    <h2 class="home-text16">Integrityportal Meldestelle</h2>
    <span class="home-text17">
      Mit unserem Meldeportal können alle Personen, die glauben, dass
      missbräuchliche Aktivitäten in einer Firma, Organisation oder Gemeinde
      vorliegen, sicher und optional auch anonym ihren Hinweis einreichen und
      uns beim Schutz von Menschen und Unternehmen unterstützen. Es ist sehr
      wichtig, dass Whistleblower anonym bleiben können, da sie sonst Angst
      haben könnten, dass sie Kosten oder Nachteile erleiden, wenn sie melden.
      Mit unserem Meldeportal können sie sicher und diskret helfen.
    </span>
  </div>
  <div class="home-container08">
    <h2 class="home-text18">Online Meldung einreichen</h2>
    <div class="home-code-embed">
      <dangerous-html
        html="<heyflow-wrapper flow-id='hello-e340e3' dynamic-height style-config='{'width': '100%', 'height': '100%'}'></heyflow-wrapper>"
      ></dangerous-html>
    </div>
  </div>
  <div class="home-container09">
    <h2 class="home-text19">FAQ (Häufige Fragen)</h2>
    <div class="home-container10">
      <h2 class="home-text20">
        Muss ich anlässlich meiner Meldung Nachteile befürchten?
      </h2>
      <span class="home-text21">
        Mit unserem Meldeportal können alle Personen, die glauben, dass
        missbräuchliche Aktivitäten in einer Firma, Organisation oder Gemeinde
        vorliegen, sicher und optional auch anonym ihren Hinweis einreichen und
        uns beim Schutz von Menschen und Unternehmen unterstützen. Es ist sehr
        wichtig, dass Whistleblower anonym bleiben können, da sie sonst Angst
        haben könnten, dass sie Kosten oder Nachteile erleiden, wenn sie melden.
        Mit unserem Meldeportal können sie sicher und diskret helfen.
      </span>
      <h2 class="home-text22">Wie kann ich meine Meldung einreichen?</h2>
      <span class="home-text23">
        Sie haben die Möglichkeit, Ihre Meldung schriftlich, mündlich oder
        persönlich einzureichen. Welchen Weg Sie bevorzugen, bleibt Ihnen
        unbenommen.
      </span>
      <h2 class="home-text24">Werden meine Daten vertraulich behandelt?</h2>
      <span class="home-text25">
        Ja. Dies ist im Gesetz so vorgeschrieben (§ 8 HinSchG). Wird Ihre
        Identität oder der Sachverhalt Dritten mitgeteilt, müssen Sie hiervon im
        Vorfeld unterrichtet werden.
      </span>
      <h2 class="home-text26">Muss ich meine Identität preisgeben?</h2>
      <span class="home-text27">
        Nein. Auch anonyme Meldungen werden bearbeitet. Es ist gleichwohl
        ratsam, Ihre Identität mitzuteilen, da dies die Aufklärung des
        Sachverhaltes erleichtert.
      </span>
      <h2 class="home-text28">
        Gibt es auch andere Stellen, wo ich Missstände melden kann?
      </h2>
      <span class="home-text29">
        Sie haben die Möglichkeit, sich auch an eine externe Meldestelle zu
        wenden. Sie können ferner die Öffentlichkeit anrufen, wenn die Meldung
        bei der Meldestelle fruchtlos bleibt.
      </span>
      <h2 class="home-text30">
        Welche Ansprüche habe ich im Falle von Repressalien?
      </h2>
      <span class="home-text31">
        Erleiden Sie aufgrund Ihrer Meldung wie auch immer geartete Nachteile,
        stehen Ihnen Schadensersatzansprüche zu.
      </span>
      <h2 class="home-text32">
        Was passiert, wenn sich meine Meldung als falsch herausstellt?
      </h2>
      <span class="home-text33">
        Es ist freilich wichtig, dass Sie Meldungen nur im Falle konkreter
        Verdachtsmomente einreichen. Jedoch müssen Hinweisgeber nur im Falle
        grober Fahrlässigkeit sowie Vorsatzes Schadensersatz leisten.
      </span>
      <h2 class="home-text34">
        Bis wann wird muss meine Meldung bearbeitet werden?
      </h2>
      <span class="home-text35">
        Der Eingang Ihrer Meldung wird spätestens nach 7 Tagen bestätigt. Deren
        Prüfung muss binnen 3 Monaten abgeschlossen sein.
      </span>
    </div>
  </div>
  <div class="home-container11">
    <div class="home-container12">
      <div class="home-container13">
        <img
          alt="image"
          src="/assets/playground_assets/integrityor.svg"
          class="home-image3"
        />
        <span class="home-text36">
          <span>
            Intergrityportal bietet Unternehmen und staatlichen Stellen ein
            einfaches System für 
          </span>
          <span>Rechtskonformität &amp; Compliance</span>
        </span>
      </div>
      <div class="home-container14"></div>
      <div class="home-container15"></div>
      <div class="home-container16"></div>
    </div>
  </div>
</div>
